{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Carousel Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/static/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
     <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,500&display=swap&subset=cyrillic" rel="stylesheet">
    <link href="/static/css/carousel.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet"> 
  </head>
<!-- NAVBAR
================================================== -->
  <body>
   
    
    <header class="fonshapka">

    <div>
       <div class="phonetextcolor">
        <div class="row notrow">
    <div class="col-md-6"></div>
    <div class="col-md-6 text-right">

        <div class="container row">
       <div class="col-md-5 ">
         <h4 class="h4pad">г.Тюмень ул.Железнодорожная 45/3</h4>
        </div>
     </div>


         </div>
      </div>
      </div>


       <div class="phonetextcolor">
        <div class="row notrow">
    <div class="col-md-6"></div>
    <div class="col-md-6 text-right">

        <div class="container row ">
       <div class="col-md-5">
         <h4 class="h4pad1">+79222677282</h4>
        </div>
     </div>


         </div>
      </div>
      </div>
         
      <div>
        <div class="row notrow">
    <div class="col-md-6"></div>
    <div class="col-md-6 text-right">

        <div class="container row text-righ111">
       <div class="col-md-5 h4pad2">
         <a href="" class="apadicon" ><img class="iconsoc" src="/static/img/5fb2730cdffd7a73d54cf688412dfca6.png" alt=""></a>
          <a href="" class="apadiconvk"><img class="iconsoc1" src="/static/img/instagram_PNG12.png" alt=""></a>
        </div>
     </div>


         </div>
      </div>
      </div>
   
  </div>
      
     
      <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
         <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="/static/img/logo-general.png" alt=""></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        
        <li class=""><a href="/">Главная</a></li>
        <li class=""><a href="#">контакты</a></li>
        <li class=""><a href="/dorojka">Хоккейная дорожка</a></li>
        <li class=""><a href="#">Тренировки центре</a></li>
        <li class=""><a href="#">Летние сборы</a></li>
        

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">продукция <span class="caret"></span></a>
          <ul class="dropdown-menu">
               <li><a href="#">Ворота хоккейные</a></li>
              <li><a href="#">Мини ворота</a></li>
              <li><a href="#">Тумба прыжковая</a></li>
              <li><a href="#">Дуга для дриблинга</a></li>
              <li><a href="#">Имитатор соперника</a></li>
            
          </ul>
        </li>
      </ul>
     
      <ul class="nav navbar-nav navbar-right">
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
        </div>
      </nav>
       
    </header>

    <!-- Carousel
    ================================================== -->
   <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="/static/img/slad1.jpg" alt="First slide">
          <div class="container qqqq">
            <div class="carousel-caption">
              <h1 class="wh1">Летьние сборы</h1>
              <p></p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Подробние</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="/static/img/rapid1.jpg" alt="Second slide">
          <div class="container qqqq">
            <div class="carousel-caption">
              <h1 class="wh1">Rapidshot</h1>
              <p></p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Подробние</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="/static/img/qwe222.jpg" alt="Third slide">
          <div class="container qqqq">
            <div class="carousel-caption">
              <h1 class="wh1">Беговая дорожка</h1>
              <p></p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Подробние</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
       
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->


  {%block content%}

  {%endblock%}




    <footer class="footer qweaa">
      <div class="container footpad">

        <div class="row">
        <div class="col-md-6">
          <h3 style="text-align: center;">«Генерал-Хоккей» российский производитель хоккейных беговых дорожек.</h3>
          <div class="row">
          
            <div class="col-md-12"><h3 style="text-align: center;">Адрес:     г.Тюмень ул.Железнодорожная 45/3</h3></div>
            <div class="col-md-6"><h3 style="text-align: center;">+79222677282</h3></div>
            <div class="col-md-6"> <h3 style="text-align: center;">+79222677282</h3></div>
          </div>
        </div>
        <div class="col-md-6"><iframe class="googelkarta" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2164.1889517408085!2d65.5103533161395!3d57.150926980950324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43bbe17faccc19c1%3A0x2c66f690138e821b!2z0JbQtdC70LXQt9C90L7QtNC-0YDQvtC20L3QsNGPINGD0LsuLCA0NSwg0KLRjtC80LXQvdGMLCDQotGO0LzQtdC90YHQutCw0Y8g0L7QsdC7LiwgNjI1MDAz!5e0!3m2!1sru!2sru!4v1568928273536!5m2!1sru!2sru" width="504" height="250" frameborder="0" style="border:0;" allowfullscreen=""></iframe></div>
      </div>


    
        
       
    </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="/static/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>