{% extends "base.html" %}

{%block content%}

<div class="starter-template container">
        <h1>Хоккейная беговая дорожка ГЕНЕРАЛХОККЕЙ</h1>
        <p class="lead">тренажер предназначен для
отработки техники катания вне ледовой площадки. Основные направления работы на
тренажеры: скорость, правильная посадка, выносливость, укрепление мыщц ног и
реабилитация после травм. Цена 30 мин 500 руб.
      </div>
<div class=" container ">
        
        
     

      <div class="row">
        <div class="col-md-4"><img class="fotodor" src="/static/img/dorjka/IMG-20190910-WA0015.jpg" alt=""></div>
        <div class="col-md-4"><img class="fotodor" src="/static/img/dorjka/IMG-20190910-WA0015.jpg" alt=""></div>
        <div class="col-md-4"><img class="fotodor" src="/static/img/dorjka/IMG-20190910-WA0015.jpg" alt=""></div>
      </div>
       </div>
{% endblock %}