body {
	font-family: 'EB Garamond', serif;
	background-image: url("img/white-scratone.png");
	

}
.myclasss {
	
	
}
.iconsoc{
	width: 70px;
	
}
.iconsoc1{
	width: 70px;
	
}
header {
	padding-bottom: 2px;
	padding-top: 10px;

}
h1 {
	text-align: center;
	font-size: 50px;
	color: black;
}
.apadicon{
	position: relative;
	bottom:  10px;
}
.apadiconvk{
	position: relative;
	left: 60px;
	
}


.sdbord {
	box-shadow: 2px 2px 3px 3px;
}

.navbar {

	
}
.carousel {
	height: 400px;
}
.carousel-inner .item {
	height: 400px;
}
.carousel-inner .item > img{
	height: 400px;
}
.wordheaderpage {
	padding-bottom: 70px;
		
}
.dropdown-menu{
	background-color: #222;
}
.dropdown-menu > li{
	background-color: #222;
}

.dropdown-menu > li > a{
	
	color:white;
}

.navbar-brand {
	padding-right: 0px;
}

.navbar-brand img {
	position: relative;
	top: -125px;
	bottom: 170px;
	right: 50px;
	width: 250px;


}

.navbar-inverse .navbar-nav > li > a {
	
	font-size: 12px;
	text-transform: uppercase;


}

.imgsoc{
	position: relative;
	top: 1040px;
}




.embed-responsive.embed-responsive-16by9 {
	padding-bottom: 56.25%;
}
 
.embed-responsive.embed-responsive-4by3 {
	padding-bottom: 75%;
}
 
.embed-responsive{
	position: relative;
	display: block;
	height: 0;
	padding: 40px;
	overflow: hidden;
	width:100%;

}
 
.embed-responsive .embed-responsive-item, .embed-responsive iframe, .embed-responsive embed, .embed-responsive object{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

.mrclass{
	margin-top: -70px;
}

.maincont {
	padding: 1px 20px;
	
	
}

.h4pad{
	margin-right: -110px;
}
.h4pad1{
	margin-right: -110px;
}
.h4pad2 > a > img{
	padding-right:10px;
	margin-right: -80px;
}

.text-righ111{
	text-align: right;
}

.eeee {
	z-index: 100;
	position	: relative;
	background-color: black;
	
	

}
.fonshapka {
	background-image: url("/static/img/zekotum28.jpeg");

}
.colornav {
	background-color: black;
}
.phonetextcolor{
	
	
	color: white;
	
}
.phone a{
	text-decoration: none;

}
.phone1{
	font-weight:bold;
	position: absolute;
	right: 0;
	top: 50px;
	color: white;
	font-size: 20px;
	z-index: 1000;
	color: white;
}
.menu {

	background: black;
	border: 0;
	box-shadow: 0 0 10px;
	font-size: 20px;
	
}

.navbar-inverse .navbar-nav > li.active-link > a {
	color: white;
	font-size: 20px;
	
	border-bottom: 3px solid red;


}
.textphone {
	text-decoration: none;
	
	border-radius: 10px;
	background:#4d4f5a;
}
.number{
	color:white;
}
.qweaa{
	background: #222;
	width: 100%;
 	position: absolute;
 	left: 0;
 

	}
.googlemap{
	padding-top: 10px;

}	

.padigfoot{
	padding-bottom: 20px;
}
.footpad{
	padding-bottom: 20px;
	padding-top: 20px;
}

@media screen and (max-width: 600px) {
  .vidos {
    width: 300px;
  }
}

@media screen and (max-width: 600px) {
  .googelkarta {
    width: 300px;
  }
}
@media screen and (max-width: 600px) {
  .h4pad {
    margin-right: 0px;
  }
  .h4pad1 {
    margin-right: 0px;
  }
  .h4pad2 {
    margin-right: 110px;
    padding-right:0px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 600px) {
  .navbar-brand img {
	position: relative;
	top: -105px;
	bottom: 170px;
	right: 50px;
	width: 150px;
	}
}

@media screen and (max-width: 600px) {
 	.apadicon{
		position: relative;
		bottom:  10px;
		right: 30px;
	}
	.apadiconvk{
		position: relative;
		left: 20px;
		}

}
.notrow{
	margin-right: 0px;
	margin-left: 0px;
}
.fotodor{
	width: 300px;
	padding-bottom: 10px;
}
.wh1{
	color:white;
}